<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head('Show all employees')"></div>
<body>
<div th:replace="header :: header"></div>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Date</th>
    <th>Room</th>
    <th>Movie Title</th>
    <th>Starts At</th>
    <th>Finishes At</th>
</tr>
</thead>
<tbody>
<tr th:each="screening : ${screenings}">
    <td th:text="${screening.id}"></td>
    <td th:text="${screening.date}"></td>
    <td th:text="${screening.room.name}"></td>
    <td th:text="${screening.movie.title}"></td>
    <td th:text="${screening.startsAt}"></td>
    <td th:text="${screening.finishesAt}"></td>
    <td><a href="#" th:href="@{/employee/screenings/show/} + ${screening.id}"><button>Show</button></a></td>
    <td>
    	<form th:action="@{/employee/screenings/delete/} + ${screening.id}" method="post">
        	<input type="submit" value="Remove"/>
    	</form>
    </td>
</tr>
</tbody>
<tfoot>
<tr>
	<td>
		<a href="/employee/screenings/create" th:href="@{/employee/screenings/create}">
		<button>Add Screening</button>
		</a>
	</td>
</tr>
</tfoot>
</table>
<div th:replace="footer :: footer"></div>
</body>
</html>
