<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head('Show all employees')"></div>
<body>
<div th:replace="header :: header"></div>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
</tr>
</thead>
<tbody>
<tr th:each="employee : ${employees}">
    <td th:text="${employee.id}"></td>
    <td th:text="${employee.username}"></td>
    <td th:text="${employee.email}"></td>
    <td>
    	<form th:action="@{/admin/users/delete/} + ${employee.id}" method="post">
        	<input type="submit" value="Remove"/>
    	</form>
    </td>
</tr>
</tbody>
<tfoot>
<tr>
	<td>
		<a href="/admin/users/employees/create" th:href="@{/admin/users/employees/create}">
		<button>Add Employee</button>
		</a>
	</td>
</tr>
</tfoot>
</table>
<div th:replace="footer :: footer"></div>
</body>
</html>
