<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head('Show all users')"></div>
<body>
<div th:replace="header :: header"></div>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
</tr>
</thead>
<tbody>
<tr th:each="user : ${users}">
    <td th:text="${user.id}"></td>
    <td th:text="${user.username}"></td>
    <td th:text="${user.email}"></td>
    <td>
    	<form th:action="@{/admin/users/delete/} + ${user.id}" method="post">
        	<input type="submit" value="Remove"/>
    	</form>
    </td>
</tr>
</tbody>
</table>
<div th:replace="footer :: footer"></div>
</body>
</html>
