<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head('Create/Update Movie')"></div>
<body>
<div th:replace="header :: header"></div>
<form action="#" th:action="${#httpServletRequest.requestURI}" th:object="${movie}" method="post">
    <p>Title: <input type="text" th:field="*{title}" /></p>
    <p th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></p>
    <p>Genre: <input type="text" th:field="*{genre}" /></p>
    <p th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></p>
    <p>Duration: <input type="number" th:field="*{duration}"/></p>
    <p th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}"></p>
    <p>Description: <input type="text" th:field="*{description}"/></p>
    <p th:if="${#fields.hasErrors('description')}" th:errors="*{description}"></p>
    <p>Available: <input type="checkbox" th:field="*{available}"/></p>
    <p th:if="${#fields.hasErrors('available')}" th:errors="*{available}"></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
<div th:replace="footer :: footer"></div>
</body>
</html>
