<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head('Show all customers')"></div>
<body>
<div th:replace="header :: header"></div>
<p th:text="${message}"/>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
</tr>
</thead>
<tbody>
<tr th:each="customer : ${customers}">
    <td th:text="${customer.id}"></td>
    <td th:text="${customer.username}"></td>
    <td th:text="${customer.email}"></td>
	<td th:text="${customer.password}"></td>
    <td><a th:href="@{/customers/delete/} + ${customer.id}"><button>Remove</button></a></td>
    <td><a th:href="@{/customers/edit/} + ${customer.id}"><button>Edit</button></a></td>
</tr>
</tbody>
</table>
<div th:replace="footer :: footer"></div>
</body>
</html>
