<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:fragment="head(title)">
    <meta charset="UTF-8" />
    <title th:text="${title}">Cinema</title>
    <link rel="stylesheet" href="/css/main.css" th:href="@{/css/main.css}" />
</head>
<header th:fragment="header">
    <nav>
        <div sec:authorize="!authenticated">
            <a href="/login" th:href="@{/login}"><button class="dropbtn">Log In</button></a>
        </div>
        <div class="dropdown" sec:authorize="authenticated">
            <div class="dropbtn">
                <span sec:authentication="name"></span>
            </div>
            <div class="dropdown-content">
          		<a sec:authorize="hasRole('ROLE_ADMIN')" href="/admin" th:href="@{/admin}">Admin Panel</a>
                <a sec:authorize="hasRole('ROLE_USER')" href="/account" th:href="@{/account}">Manage Account</a>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Log out" class="logoutbtn"/>
                </form>
            </div>
        </div>
        <div sec:authorize="authenticated">
        	<p style="color: white;">Roles:
        		<span sec:authorize="hasRole('ROLE_ADMIN')"> Admin </span>
        		<span sec:authorize="hasRole('ROLE_EMPLOYEE')"> Employee </span>
        		<span sec:authorize="hasRole('ROLE_USER')"> User </span>
        	</p>
        </div>
    </nav>
    <div th:text="${globalMessage}"></div>
</header>
</html>
