<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div th:replace="header :: head('Show all rooms')"></div>
<body>
<div th:replace="header :: header"></div>
<table>
<thead>
<tr>
    <th>ID</th>
    <th>Name</th>
</tr>
</thead>
<tbody>
<tr th:each="room : ${rooms}">
    <td th:text="${room.id}"></td>
    <td th:text="${room.name}"></td>
    <td><a href="#" th:href="@{/admin/rooms/show/} + ${room.id}"><button>Show</button></a></td>
    <td>
    	<form th:action="@{/admin/rooms/delete/} + ${room.id}" method="post">
        	<input type="submit" value="Remove"/>
    	</form>
    </td>
</tr>
</tbody>
<tfoot>
<tr>
	<td>
		<a href="/admin/rooms/create" th:href="@{/admin/rooms/create}">
		<button>Add Room</button>
		</a>
	</td>
</tr>
</tfoot>
</table>
<div th:replace="footer :: footer"></div>
</body>
</html>
